body{
    padding: 0;
	margin: 0;
	font: 400 15px/15px 'Roboto', sans-serif;
}

.header{
    width:100%;
	color:white;
}
.burgerMenu{
	float:left;
    margin: 40px 0 0 60px;
}
.logo{
	margin-right:35px;
}

.navbar-nav li  a {
	font: 400 15px/15px 'Roboto', sans-serif;
	color: #fff;
	display: block;
	padding: 16px 0;
}
.navbar-nav  li a:hover{
	color:#568af4;
}
.navbar-nav .nav-link{
	color:black !important;
}
.navbar-nav li {
    float: left;
	padding: 0 0 0 19px;	
	position: relative;
	
}
.dropdown-menu{
    position: absolute;
    left: 0;
    top: 55px;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.2);
    width: 220px;
    background: #fff;
    padding: 0;
    display: none;
    list-style: none;
    z-index: 9999;
}

.navbar-nav li a {
    font: 400 16px/16px 'Roboto', sans-serif;
    color: #222;
    text-decoration: none;
    padding: 16px 0 8px 0;
    display: block;
    position: relative;
    z-index: 20;
}

.dropdown-menu a{
	padding: 0;
    float: none;
    width: auto;
	background: none;
}
.navbar-nav li a:before, .navbar-nav li a:after {
    content: '';
    position: absolute;
    width: 0%;
    border-top: 2px solid;
    transition: all 0.5s ease-in;
}
.navbar-nav .dropdown-menu a:hover,.navbar-nav .dropdown-menu a:hover > a {
    text-decoration: none;
    color: #666;
    background: #f0f0f0;
}
.nav-link::after{
	display: none;
}
.navbar{
	float:left;
	line-height: 72px;
}

.bluesec{
height:30px;
	width:100%;
	background-color:#568af4;
}
.adminImage{
	background-image: url("../img/Adminimage.png");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 400px;
	width:100%;
	margin:0;
	padding:0;
}
.desc{
	float:right;
	margin:100px 125px;
}
.desc h3{
	font-size:125%;
	max-width:400px;
	line-height: 1.5;
}
.readmore{
	margin-top:50px;
	padding:5px 10px;
	background-color:#568af4;
}
/************** Feature Section ********************/
.section {
	padding-top:60px;
	padding-bottom: 20px;

}
.Feature{
}
.Title{
	margin-bottom: 60px;
}
.FeatureBox{
	height: 450px;
	width:100%;
}
.FeatureImg{
	width:100%;
	height: auto;
}
.FeatureImg img{
	width:100%;
}
.FeatureDesc{
	background-color: #7fc4fd;
	text-align: center;
	padding:30px;
	color:white;

}
.FeatureDesc h4{
font-size:100%;
font-weight: bold;
}
.FeatureDesc span{
	font-size: 70%;
}
.moredesc{
	text-align: center;
	border-top:1px solid white;
	margin-top:20px;
	padding-top:20px;
	display: none;
}

.moredesc span{
	font-size:80%;
	font-weight: 600;
	
}
.FeatureBox:hover .moredesc{
	display: block}
	.moredesc a:hover{
		text-decoration: none;
	}
	.FeatureBox:hover  {
		box-shadow: 0 0 5px 5px rgba(0,0,0,.14);
	}

.FeatureOwl button{
    display: none;
}
/************************ Demo Site *********************/
.DemoSiteBox{
height: auto;
}
.SiteImg{
	width:100%;
	height: 200px;
}
.SiteImg img{
	width:100%;
	height: 100%;
}
.overlay{
	background-color:rgba(0,0,0,.6);
	width:100%;
	height:200px;
	z-index: 5;
	position: absolute;
	top:0;
	left:0;
line-height: 170px;
opacity: 0;
}
.DemoSiteBox:hover .overlay{
opacity: 1;
}
.readmore.SiteRead{
	margin-left:35%;
	padding:3px 7px;
	
}
.siteOwl {
	width:100%;
}

.Infosec{
	width:100%;
}
.Infosec span{
	font-size:60px;
	
}
.Infosec p{
	margin-top:10px;
	display: block;
	font-size: 100%;
}
.Infosec a{
	color:black;
}
.Infosec a:hover{
	text-decoration: none;
	color:#568af4;
}
.topInfosec{
	border-right :1px solid #e3e3e3;
	border-bottom:1px solid #e3e3e3;
	border-top:0;
}
.bluesec.download{
	margin-top:20px;
	margin-bottom:20px;
	height: auto;
}
.logoDownload{
	background-color:white;
	width:30%;
	float:left;
}
.logoDownload img{
	width: 100%;
    padding: 35px;
}
.downloadDesc{
	color:white;
	padding-top:20px;
	padding-left: 30px;
	float:left;
}
.downloadbtn{
	background-color:white;
	color:#568af4;
	display: block;
	margin-top:20px;
	width:30%;
}

@media (min-width: 300px) and (max-width: 767px){
	.dropdown-menu{
   box-shadow: none;
   margin-left:20px;
   border: 0;

	}
	.burgerMenu{
		display:none;
	}
	.logo{
		width:70%;
		float: right
	}
	.logo img{
		width:100%;
	}
	.navbar-toggler span{
		float:left;
	}
	.desc{
  float: left;
    margin: 100px 125px;
	margin: 33px 10px;
    max-width: 250px;
}
}