body{
    padding: 0;
	margin: 0;
	font: 400 15px/15px 'Roboto', sans-serif;
}

.header{
    width:100%;
	color:white;
}
/*********************/
#cp_side-menu-btn{
float:left;
margin: 32px 0 0 50px;
}
#cp_side-menu {
    color: #fff;
    height: 100%;
    margin-left: -410px;
    position: fixed;
    left: 0;
    top: 0;
    width: 375px;
    z-index: 999999;
    padding: 0 40px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
	background-color: #1b8af3;
}
#cp_side-menu > a.crose {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    background: #fff;
    text-align: center;
    color: #222;
    line-height: 20px;
    font-size: 12px;
}
.cp-top-bar {
    float: left;
    width: 100%;
    border-bottom: 1px solid #48a6ff;
    padding: 20px 0 20px 0;
}
.cp-top-bar h4 {
    color: #fff;
    text-align: center;
    border-bottom: 1px solid #48a6ff;
    padding: 0 0 20px 0;
	margin: 0 0 20px 0;
	font: 500 18px/18px 'Roboto', sans-serif;
}
.cp-top-bar .login-section {
    float: left;
    padding: 0;
    width: 100%;
    text-align: center;
}
.cp-top-bar .login-section a.btn-login {
    padding: 12px 30px;
    display: inline-block;
    font: 900 13px/13px 'Roboto', sans-serif;
    color: #222;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    background: #fff;
    margin: 0 10px;
    position: relative;
    z-index: 11;
    text-decoration: none;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    overflow: hidden;
}
.cp-top-bar .login-section a.btn-login:before {
    content: '';
    position: absolute;
    left: -12px;
    top: -3px;
    width: 35%;
    height: 100%;
    background-color: #ffc107;
    z-index: -1;
    transform: rotate(-33deg) scaleY(1);
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    opacity: 0;
}
strong.logo-2 {
    display: block;
    padding: 20px 0;
    text-align: center;
    clear: both;
}
#cp_side-menu .mCustomScrollbar {
    float: left;
    width: 100%;
}
#cp_side-menu #content-1 {
    overflow: hidden;
    height: 423px;
    padding: 0;
    width: 100%;
}
.cp_side-navigation {
    float: left;
    width: 100%;
}
.cp_side-navigation .navbar-nav {
    padding: 0;
    margin: 0;
    list-style: none;
}
.cp_side-navigation li {
    float: left;
    width: 100%;
}
.cp_side-navigation .navbar-nav > li > a {
    font: 400 15px/15px 'Roboto', sans-serif;
    color: #fff;
    display: block;
    padding: 16px 0;
}
.cp_side-navigation li:first-child a {
    padding: 13px 0;
}
#cp_side-menu .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 5px;
}
#cp_side-menu .mCSB_scrollTools .mCSB_draggerRail {
    width: 5px;
}
.cp-sidebar-social {
    float: left;
    width: 100%;
    border-bottom: 1px solid #48a6ff;
    padding: 0 0 30px 0;
    margin: 55px 0 20px 0;
}
.cp-sidebar-social ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
    text-align: center;
}
.cp-sidebar-social ul li {
    display: inline-block;
    padding: 0 5px;
}
.cp-sidebar-social ul li a {
    text-decoration: none;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #999;
    font-size: 16px;
    text-align: center;
    background: #fff;
    border-radius: 100%;
}
#cp_side-menu strong.copy {
    font: 500 12px/12px 'Roboto', sans-serif;
    color: #fff;
    display: block;
    text-align: center;
}
.cp_side-navigation li a:hover, .cp_side-navigation li a:focus {
    text-decoration: none;
    padding-left: 20px;
    background: #48a6ff;
}
.cp_side-navigation li:first-child a {
    padding: 13px 0;
}
.cp_side-navigation li a {
    font: 400 15px/15px 'Roboto', sans-serif;
    color: #fff !important;
    display: block;
    padding: 34px 0;
}
/********************************************/
.logo{
	margin-right:35px;
}
.navbar-nav li  a {
	font: 400 15px/15px 'Roboto', sans-serif;
	color: #fff;
	display: block;
	padding: 16px 0;
}
.navbar-nav  li a:hover{
	color:#568af4;
}
.navbar-nav .nav-link{
	color:black !important;
}
.navbar-nav li {
    float: left;
	padding: 0 0 0 19px;	
	position: relative;
	
}
.dropdown-menu{
    position: absolute;
    left: 0;
    top: 55px;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.2);
    width: 220px;
    background: #fff;
    padding: 0;
    display: none;
    list-style: none;
    z-index: 9999;
}

.navbar-nav li a {
    font: 400 16px/16px 'Roboto', sans-serif;
    color: #222;
    text-decoration: none;
    padding: 16px 0 8px 0;
    display: block;
    position: relative;
    z-index: 20;
}

.dropdown-menu a{
	padding: 0;
    float: none;
    width: auto;
	background: none;
}
.navbar-nav li a:before, .navbar-nav li a:after {
    content: '';
    position: absolute;
    width: 0%;
    border-top: 2px solid;
    transition: all 0.5s ease-in;
}
.navbar-nav .dropdown-menu a:hover,.navbar-nav .dropdown-menu a:hover > a {
    text-decoration: none;
    color: #666;
    background: #f0f0f0;
}
.nav-link::after{
	display: none;
}
.navbar{
	float:left;
	line-height: 72px;
}

.bluesec{
height:30px;
	width:100%;
	background-color:#568af4;
}
.adminImage{
	background-image: url("../img/Adminimage.png");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 400px;
	width:100%;
	margin:0;
	padding:0;
}
.desc{
	float:right;
	margin:100px 125px;
}
.desc h3{
	font-size:125%;
	max-width:400px;
	line-height: 1.5;
}
.readmore{
	margin-top:50px;
	padding:5px 10px;
	background-color:#568af4;
}
/************** Feature Section ********************/
.section {
	padding-top:60px;
	padding-bottom: 50px;

}
.Feature{
}
.Title{
	margin-bottom: 80px;
}
.FeatureBox{
	height: 440px;
	width:100%;
}
.FeatureImg{
	width:100%;
	height: auto;
}
.FeatureImg img{
	width:100%;
}
.FeatureDesc{
	background-color: #7fc4fd;
	text-align: center;
	padding:30px;
	color:white;

}
.FeatureDesc h4{
font-size:100%;
font-weight: bold;
}
.FeatureDesc span{
	font-size: 70%;
}
.moredesc{
	text-align: center;
	border-top:1px solid white;
	margin-top:20px;
	padding-top:20px;
	display: none;
}

.moredesc span{
	font-size:80%;
	font-weight: 600;
	
}
.FeatureBox:hover .moredesc{
	display: block}
	.moredesc a:hover{
		text-decoration: none;
	}
	.FeatureBox:hover  {
		box-shadow: 0 0 5px 5px rgba(0,0,0,.14);
	}
	.siteOwl .owl-nav.disabled {
		display: block;
	}
	.owl-carousel .owl-nav button.owl-next,
	 .owl-carousel .owl-nav button.owl-prev {
		width: 40px;
		height: 40px;
		background:#7fc4fd;
		text-align: center;
		border-radius: 5px;
		position: absolute;
		top:35%;
		font-size:30px;
		color:white;
	}
.owl-carousel .owl-nav button.owl-next{
	right: -24px;
}
.owl-carousel .owl-nav button.owl-prev{
	left: -24px;
  
}
.owl-carousel .owl-nav button.owl-next:hover,
 .owl-carousel .owl-nav button.owl-prev:hover{
    
	box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
	background-color:#1b8af3;
}
/************************ Demo Site *********************/
.DemoSite{
background-color: #eff3f6;
}
.DemoSiteBox{
height: auto;
}
.SiteImg{
	width:100%;
	height: 200px;
}
.SiteImg img{
	width:100%;
	height: 100%;
}
.overlay{
	background-color:rgba(0,0,0,.6);
	width:100%;
	height:200px;
	z-index: 5;
	position: absolute;
	top:0;
	left:0;
line-height: 170px;
opacity: 0;
}
.DemoSiteBox:hover .overlay{
opacity: 1;
}
.readmore.SiteRead{
	margin-left:35%;
	padding:3px 7px;
	
}
.siteOwl {
	width:100%;
}
/****************************/
.FeaturesContiner{
	background: #fff;
	margin-bottom: 30px;
	box-shadow: rgba(175, 175, 175, 0.23) 0px 0px 10px;
	position: relative;
	padding: 30px 5px 40px 40px;
	margin-left: 25px;
	height: 150px;
   }

.FeaturesContiner .FeatureIcon{
	position: absolute;
	left:-25px;
	top:35%;
	background: #fff;
	color: #1b8af3;
	box-shadow: rgba(175, 175, 175, 0.23) 0px 0px 10px;
	border-radius: 5px;
	transition: all 0.3s ease-in-out 0s;

}
.FeaturesContiner .FeatureIcon i{
	width:50px;
	height: 50px;
	font-size: 25px;
	
	text-align: center;
	display: inline-block;
	line-height: 50px;
	
}
.FeaturesText h3{
	color: #1b8af3;
	font-size: 18px;
}
.FeaturesText p{
	font-size: 14px;
	margin-bottom: 0;
	color:#999;
	height: 50px;
} 
.FeaturesContiner:hover .FeatureIcon {
	background-color:#1b8af3;
	color: #fff;
	transition: all 0.3s ease-in-out 0s;

}
.FeaturesText a{
	margin-top:10px;
	display: inline-block;
}
/***************************************************************/

.bluesec.download{
	margin-top:50px;
	margin-bottom:50px;
	height: auto;
	box-shadow: rgba(175, 175, 175, 0.23) 0px 0px  10px 5px;
}
.logoDownload{
	background-color:white;
	width:30%;
	float:left;
}
.logoDownload img{
	width: 100%;
    padding: 35px;
}
.downloadDesc{
	color:white;
	padding-top:20px;
	padding-left: 30px;
	float:left;
}
.downloadbtn{
	background-color:white;
	color:#568af4;
	display: block;
	margin-top:20px;
	width:30%;
}
/*****************************************/

.BlogCont img{
	width:100%;
}
.blogImg{
	height: 235px;
}
.BlogCont video{
	width: 100% !important;
	height: 100%;
}
.BlogCont figure{
	width:100%;
	height: auto;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
	padding-bottom:1%;

}
.BlogCont figure:hover{
	box-shadow: 0 0  10px 5px rgba(0, 0, 0, 0.15);
	margin-top:-20px;
}
.blogDesc{
	margin:10% 5%;
}
.blogDesc p{
	font-size:100%;
	line-height: 1.5;
}
/***************************************/
.sidbox{
	width: 60%;
	margin-right:95px;
}
.sidbox h4 {
    margin: 0 0 5px 0;
    background-color: #568af4;
    padding: 10px;
}
.subbox{
		float:right;
		width: 100%;
		background: #fff;
		box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.15);
		-moz-box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.15);
		-webkit-box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.15);
		border-radius: 3px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  margin-top:10px;
}
.subbox p {
    font: 400 14px/22px 'Roboto', sans-serif;
    color: #888;
    margin: 0 0 20px 0;
}
.join{
	margin-top:80px;
	padding:5px 20px;
	background-color: #568af4;
}
/***********************************************/
.Footer{
	border-top:10px solid #07111B;
	height: auto;
	position: relative;
}
.FootCont{
	 max-width: 960px;
}
.Footer h4 {
    font: 500 18px/18px 'Roboto', sans-serif;
    color: #222;
	margin: 0;
	color: #eeeded; background-color: #04396a; padding: 10px;
}
.Footer ul li span{
	color:white;
}
.Footer ul li a:hover{
	text-decoration: none;
}
.Footer ul {
	margin-top:10px;
}
.copyright{
	border-top:1px solid white;
	padding-top:20px;
}
.copyright p{
	float: left;
    font: 400 12px/12px 'Roboto', sans-serif;
    color: #07111b;
    padding: 9px 0 0 0;
}
.facebook {
	border: 1px solid black;
    height: 35px;
    width: 35px;
    color: #568af4;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -23px;
    right: 114px;
    text-align: center;
}
.facebook i {
	line-height: 30px;
	font-size: 30px;

}
/***************************************/
@media (min-width: 300px) and (max-width: 767px){
	.dropdown-menu{
   box-shadow: none;
   margin-left:20px;
   border: 0;

	}
	.burgerMenu{
		display:none;
	}
	.logo{
		width:70%;
		float: right
	}
	.logo img{
		width:100%;
	}
	.navbar-toggler span{
		float:left;
	}
	.desc{
  float: left;
    margin: 100px 125px;
	margin: 33px 10px;
    max-width: 250px;
}
.FeatureBox {
    height: 468px;
}
.sidbox {
    width: 100%;
    /* margin-right: 95px; */
	margin-top: 50px;
	float:none !important;
}
/**************************/
.gray-bacground{
	background-color:#eff3f6;
}
.developersec h2{
font-size:30px;
}
.join{
	margin-top:50px;
}
.downloadDesc h6{
font-size:15px;
}
.downloadDesc{
	text-align: center;
	float:left;
	width:50%;
padding-top:10px;
}
.logoDownload{
	width:50%;
}
.downloadDesc span{
	display: none;
}
.downloadbtn {
	margin-top:5px;
	width:100%;
}
}
